:root {
    --background-colour: #0c0f11;
    --text-colour: #ffffff;
    --accent-colour:rgb(51, 51, 51);
    --text-colour-dark:rgb(67, 67, 67);
    --text-colour-subtitle:rgb(100, 100, 100);
}

* {
    font-family: Helvetica Neue, sans-serif;
    font-weight: 525;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-colour);
}

.container-fluid.div {
    margin: 10vh auto;
    width: 60%;
}

.container.title {
    margin: 5vh auto;
}

@media (max-width: 1000px) {
    .container-fluid.div {
        margin: 5vh auto;
        width: 100%;
    }

    .container.title {
        margin: 1vh auto;
        display: flex;
        flex-direction: column;
    }

    .title .col-auto, .title .col {
        width: 100%;
        text-align: center;
    }
    .title .col-auto {
        margin-bottom: 20px;
    }
}

@media (max-width: 600px) {
    .container-fluid.div {
        margin: 5vh auto;
        width: 100%;
    }

    .container.title {
        margin: 1vh auto;
        display: flex;
        flex-direction: column;
    }

    .title .col-auto, .title .col {
        width: 100%;
        text-align: center;
    }
    .title .col-auto {
        margin-bottom: 20px;
    }

    .d-inline.d-flex {
        display: none;
    }
}

.container.subtitle a {
    color: var(--text-colour);
    text-decoration: none;
} 

.navbar-brand.blue,
.navbar-brand.blue:focus{
    color: var(--text-colour);
}
    
.navbar-brand.blue:hover {
    color: #0077b5;
}

hr {
    background: linear-gradient(135deg, blue, purple);
    height: 3px;    
}

#avatar {
    padding: 0.25rem;
    background: linear-gradient(135deg, blue, purple);
    width: 125px;
    height: 125px;
    min-width: 125px;
    min-height: 125px;
    border-radius: 50%;
    margin: 0 auto;
    border: 2px solid var(--text-colour);
}

.col.title h1{
    color: var(--text-colour-dark);
    font-size: max(1.5em, 2.25vw);
}

.col.title h1 span {
    color: var(--text-colour);
}

.col.text-center,
.text-center,
.nav-link.purple,
.nav-link.purple:focus {
    color: var(--text-colour);
    text-decoration: none;
}

.linkedin:hover {
    color: #0077b5;
}

.purple:hover,
.nav-link.purple:hover {
    color: #6e5494;
}

.email:hover {
    color: #dd4b39;
}

.resume:hover {
    color: #90ee90;
}

.container.subtitle {
    margin: 5vh auto;
    color: var(--text-colour-subtitle);
}

.container-fluid h2 {
    color: var(--text-colour);
}

.container h3 {
    color: var(--text-colour-subtitle);
}

.container h4 {
    color: var(--text-colour-dark);
}

.container p {
    color: var(--accent-colour);
}

.container li {
    color: var(--text-colour-dark);
}

.card.blank {
    background-color: transparent;
}

.card.blank img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    object-position: left;
    border: 2px solid var(--accent-colour);
}

.card.blank h5 {
    color: var(--text-colour-subtitle);
}

.card.blank p {
    color: var(--text-colour-dark);
}

.col-md-12 {
    font-size: max(3em, 5vw);
}

.footer .text-center {
    font-size: max(2em, 2.5vw);
}

.goto {
    color: transparent;
    background: linear-gradient(135deg, blue, purple);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 1.5em;
    display:none;
}


#proj1:hover .goto,
#proj2:hover .goto,
#proj3:hover .goto,
#proj4:hover .goto {
    display: block;
}

